<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF8">
	</head>

	<body>
		<div id="app">
			<p v-if="showPrompt">Write your message</p>
			<p v-else>When you are done, send your message</p>

			<textarea v-model="message">
			</textarea>

			<p v-if="showSubmit"><button>Send message</button></p>
		</div>

		<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

		<script>

			const vm = new Vue({
				el: '#app',
				data: {
					message: undefined
				},
				computed: {
					showPrompt: function() {
						return !this.message;
					},
					showSubmit: function() {
						return this.message && this.message.length > 0;
					}
				}
			})
		</script>
	</body>

</html>
