<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF8">
		<title>Decoder - VueJS</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="app">
				<section class="section">

				<div class="container">	

					<h1 class="title">Decoder utility</h1>

					<p>{{message}}</p>



					<div class="field">
						<div class="control">
						<textarea id="encoded-text" class="textarea" placeholder="Encoded text"
							v-model="encodedMessage"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<textarea id="decoded-text" class="textarea" placeholder="Decoded text"
							v-model="decodedMessage"></textarea>
						</div>
					</div>
				</div>
			</section>

			<pre>
				{{$data}}
			</pre>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script>

			const vm = new Vue({
				el: '#app',
				data: {
					message: "Hello world",
					mapping: {},
					encodedMessage: "",
				},
				computed: {
					decodedMessage: function() {
						return this.encodedMessage.split('').map((letter) => letter).join('');
					}
				}
			})
		</script>
	</body>

</html>
