<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Gaps | VueJS Playground</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
      p {
        margin-bottom: 0.5rem;
      }
      
      .undecided {
        font-style: italic;
        font-weight: bold;
      }

      .decided {
        font-style: italic;
      }

    </style>
  </head>
  <body>
    <section  id="app" class="section">
      <div class="container pb-4">
        <h1 class="title">
          Story Gap prototype
        </h1>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label for="settlement" class="label">Type of place you grew up</label>
              <div class="select">
                <select id="settlement" v-model="settlement">
                  <option disabled value=''>Select one...</option>
                  <option value="town">Town</option>
                  <option value="village">Village</option>
                </select>
              </div>
            </div>

            <div class="field">
              <label for="a-thing" class="label">Some innocuous object</label>
              <div class="control">
                <input id="a-thing" class="input" type="text" v-model="thing" placeholder="a model house">
              </div>
            </div>

            <div class="field">
              <label for="event" class="label">An important event</label>
              <div class="control">
                <input id="event" class="input" type="text" v-model="event" placeholder="the birth of a child">
              </div>
            </div>            
          </div>


          <div class="column">
            <p>In the <option-display v-bind:value="settlement"></option-display> where I grew up, they used to burn <option-display v-bind:value="thing" choice-type="a thing"></option-display> to celebrate <option-display v-bind:value="event" choice-type="an event"></option-display>.</p>
            <p>Everyone in the <option-display v-bind:value="settlement"></option-display> would share the ashes and spread them on their fields or gardens.</p>
          </div>
        </div>
      </div>

        <div class="container">
            <pre>{{$data}}</pre>
        </div>
    </section>

      <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

      <script>

        Vue.component('option-display', {
          props: ['value','choiceType'],
          computed: {
            valueText: function() {
              return this.value || `choose ${this.choiceType || "something"}`;
            },
            isSet: function() { return this.value !== ''},
          },
          template: '<span v-bind:class="{decided: isSet, undecided: !isSet}">{{valueText}}</span>',
        });

        const vm = new Vue({
          el: '#app',
          data: {
            settlement: '',
            thing: '',
            event: '',
          },
          computed: {
            settlementText: function() {
              return this.settlement !== '' ? this.settlement : "choose a place";
            },
          }
        })
      </script>
  </body>
</html>